*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: rgb(101, 48, 152);
    color: white;
    height: 10vh;
    width: 100%;
   font-size: 1.5vw;

}
.logo{
    font-weight: 600;
    margin-left: 4vw;
}
.nav ul{
    list-style: none;
   display: flex;
   gap: 20px;
   margin-right: 2vw;
   
}
.content{
    display: flex;
}
.left{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    height: calc(100vh - 10vh);
    margin-left: 4vw;
    width: 50%;

}
.left h1{
    color: rgb(101, 48, 152);
    font-size: 4vw;
    padding-bottom: 3vw;
}
.left p{
    width: 50%;
    font-size: 1vw;
}
.left button{
    background-color: rgb(101, 48, 152);
    padding: 0.6vw 1.2vw;
    font-size: 1.2vw;
    color: white;
    margin-top: 3vw;
    border-radius: 1vw;
    border: none;
    outline: line;
    width: 35%;

}
.left button i{
    padding-left: 1.2vw;
}
.right{
    width: 50%;
}